.idea
*.pyc
build
dist
.eggs
*.egg-info
.vscode
*.env
/pyqtdeploy
.venv*
*_ui.py
*.autosave
/ags-service-gui.config
/ags-service-gui.creator
/ags-service-gui.creator.user
/ags-service-gui.files
/ags-service-gui.includes
